[submodule "plugins/start/vim-go"]
	path = plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "plugins/vim-javascript"]
	path = plugins/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
